.devices {
    background-image: url('../../images/bg/devices.jpg');
    padding-top: 38px;
    padding-bottom: 75px;
    box-shadow: inset 0px -17px 14px -16px #000000;
}

.devices__title {
    margin-bottom: 4px;
    text-align: center;
    text-transform: uppercase;
    font-family: "PT Sanse Regular", sans-serif;
    font-size: 43px;
    color: #F5C506;
}

.devices__container {
    position: relative;
}

.devices__announcement {
    position: absolute;
    left: 0;
    top: 0;
    width: 116px;
    height: 116px;
    background-color: #F5C506;
    border-radius: 50%;
    white-space: nowrap;
}

.devices__announcement__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "PT Sanse Norrow Bold", sans-serif;
    font-size: 18.7px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
}

.devices__row {
    display: flex;
}

.devices__list {
    display: flex;
    align-items: flex-end;
    padding-top: 41px;
    padding-bottom: 20px;
    margin-right: 78px;
    margin-left: 20px;
}

.devices__item {
    margin-right: 25px;
    padding-bottom: 40px;
}

.devices__item:first-child {
    padding-bottom: 0;
}

.devices__item:last-child {
    margin-right: 0;
}

.devices__info__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.devices__info__item {
    position: relative;
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
}

.devices__info__item::before {
    display: inline-block;
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #F5C506;
    margin-right: 15px;

}

.devices__info__item__text {
    font-family: "Open Sans Regular", sans-serif;
    font-size: 22px;
    color: #a9a9a7;
}

@media (max-width: 768px) {
    .devices {
        padding: 32px 20px 50px;
        background: initial;
        background-color: #4c4c4c;
    }

    .devices__title {
        margin-bottom: 35px;
        font-size: 39px;
        text-align: initial;
    }

    .devices__container {
        margin-bottom: 45px;
    }

    .devices__announcement {
        left: 5px;
    }

    .devices__list {
        margin-left: initial;
        margin-right: initial;
        padding-bottom: initial;
        padding-left: 30px;
    }

    .devices__info__list {
        display: none;
    }
}