.devices {
    background-image: url('../../images/bg/devices.jpg');
}

.devices__container {
    position: relative;
}

.devices__announcement {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: #F5C506;
    border-radius: 50%;
    white-space: nowrap;
}

.devices__announcement__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
}

.devices__row {
    display: flex;
}

.devices__list {
    display: flex;
    align-items: flex-end;
}

.devices__info__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
