.events {
    padding-top: 32px;
    background-image: url('../../images/bg/events.jpg');
    box-shadow: inset 0px 17px 14px -22px #000000;
}

.events__title {
    margin-bottom: 32px;
    font-family: "PT Sanse Regular", sans-serif;
    font-size: 37px;
    text-transform: uppercase;
    color: #ffffff;
}

.events__content {
    display: flex;
    flex-direction: column;
}

.events__row {
    display: flex;
}

.events__discription,
.events__video-container,
.events__social {
    flex: 1;
}

.events__discription {
    position: relative;
    background-color: #ec9e03;
}

.events__discription__text {
    padding: 30px 33px 30px 30px;
    font-family: "Segoe WP Light", sans-serif;
    font-size: 29px;
    line-height: 1.31;
    color: #ffffff;
}

.events_discriprion__button,
.events_social__button {
    position: absolute;
    right: 10px;
    bottom: 12px;
}

.events__video-container {
    position: relative;
}

.events__video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 61px;
    height: 61px;
    opacity: 0.7;
    background-color: #f5c506;
    border-radius: 50%;
    outline: none;
    z-index: 99;
}

.events__video__button__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 17px;
    height: 31px;
}

.events__video {
    width: 100%;
    height: 100%;
    padding-right: 25px;
    object-fit: cover;
}

.events__social {
    position: relative;
    margin-left: 10px;
    background-color: #ec9e03;
    background-image: url('../../images/svg-icons/twitter.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.events_social__number {
    position: absolute;
    top: 20px;
    right: 20px;
    font-family: "Segoe WP Light", sans-serif;
    font-size: 25px;
    color: #ffffff;
}

.button-upload {
    width: 11px;
    height: 11px;
    background: url('../../images/svg-icons/plus.png') center center / cover no-repeat;
    outline: none;
    border: 0;
}

.events__date-container {
    display: flex;
    margin-bottom: 45px;
}

.events__date {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px 5px;
    background-color: #ddb101;
}

.events__date__num {
    font-family: "Segoe UI Bold", sans-serif;
    font-size: 51px;
    color: #ffffff;
}

.events__date__month {
    font-family: "Segoe UI Regular", sans-serif;
    font-size: 21px;
    color: #b26529;
    text-transform: uppercase;
}

.events__control {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.events__control__range {
    -webkit-appearance: none;
    width: 896px;
    height: 15px;
    background-color: #fae283;
    border-radius: 7.5px;
}

.events__control__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 197px;
    height: 15px;
    background-color: #ec9e03;
    border-radius: 7.5px;
    text-align: center;
}

.events__control__range:focus {
    outline: none;
}