.events {
    background-image: url('../../images/bg/events.jpg');
}

.events__days {
    padding-top: 20px;
}

.events__days__item__row {
    display: flex;
}

.events__days__item__title {
    margin-bottom: 20px;
    font-size: 32px;
    color: #ffffff;
}

.button-upload {
    width: 20px;
    height: 20px;
    background: url('../../images/svg-icons/plus.png') center center / cover no-repeat;
    outline: none;
}