.header__row {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo__title {
    font-size: 41px;
    color: #ffffff;
}

.header__nav__list {
    display: flex;
}