.header {
    margin-bottom: 55px;
}

.header__row {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo__wrap {
    margin-right: 5px;
}

.header__logo__title {
    font-family: "Lucida Sans Italic", sans-serif;
    font-style: italic;
    font-size: 41px;
    color: #ffffff;
    text-transform: uppercase;
}

.header__nav {
    display: flex;
    align-items: flex-end;
}

.header__nav__list {
    display: flex;
    box-shadow: -5px -5px 0px -1px rgba(245, 197, 6, 0.3),
                -8px -8px 0px -1px rgba(245, 197, 6, 0.2);
}

.header__nav__item {
    border-right: 1px solid rgba(245, 197, 6, 0.5);
}

.header__nav__item:last-child {
    border-right-color: transparent;
}

.header__nav__item:hover .header__nav__link {
    background-color: #e0b004;
    transition: 0.3s;
}

.header__nav__link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #F5C506;
    transition: 0.3s;
}

.header__nav__item:first-child .header__nav__link {
    padding-left: 40px;
}

.header__nav__link::before {
    content: "";
    margin-right: 8px;
}

.header__nav__link--about::before {
    width: 21px;
    height: 19px;
    background: url('../../images/svg-icons/about.png') center center / cover no-repeat;
}

.header__nav__link--services::before {
    width: 19px;
    height: 19px;
    background: url('../../images/svg-icons/services.png') center center / cover no-repeat;
}

.header__nav__link--contact::before {
    width: 24px;
    height: 18px;
    background: url('../../images/svg-icons/contact.png') center center / cover no-repeat;
}

.header__nav__link__text {
    font-family: "Segoe WP", sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #9B7D08;
}