.intro {
    position: relative;
    display: block;
    background: url('../../images/bg/intro.png') center center / cover no-repeat;
    padding-top: 30px;
    box-shadow: inset 0px -17px 14px -22px #000000;
}

.slider {
    padding-bottom: 70px;
}

.slider__arrow-left,
.slider__arrow-right {
    position: absolute;
    top: 50%;
    display: inline-flex;
    padding: 19px 8px;
    background-color: #F5C506;
    outline: none;
    transition: 0.3s;
}

.slider__arrow-left {
    left: 0; 
}

.slider__arrow-right {
    right: 0;
    transform: rotate(180deg);
}

.slider__arrow-left:hover,
.slider__arrow-right:hover {
    background-color: #e0b004;
    transition: 0.3s;
}

.slider__row {
    display: flex;
}

.slider__video-container,
.slider__title {
    flex: 1;
}

.slider__video-container {
    position: relative;
}

.slider__video {
    max-width: 549px;
    max-height: 327px;
}

.slider__video__player-controls {
    display: flex;
    align-items: center;
}

.slider__video__button,
.slider__video__player-controls__button {
    background-image: url('../../images/svg-icons/play.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    outline: none;
    z-index: 99;
}

.slider__video__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 67px;
    height: 67px;
    background-color: rgba(245, 197, 6, 0.6);
    background-size: 19px 34px;
    border-radius: 50%;
    transition: 0.3s;
}

.slider__video__button:hover {
    background-color: rgba(245, 197, 6, 0.8);
    transition: 0.3s;
}

.slider__video__player-controls {
    position: absolute;
    left: 30px;
    bottom: 23px;
}

.slider__video__player-controls__button {
    width: 27px;
    height: 27px;
    background-color: rgba(245, 197, 6, 0.6);
    background-size: 10px 17px;
    opacity: 0.5;
    margin-right: 24px;
    transition: 0.3s;
}

.slider__video__player-controls__button:hover {
    background-color: rgba(245, 197, 6, 0.8);
    transition: 0.3s;
}

.slider__video__player-controls__playback {
    -webkit-appearance: none;
    width: 404px;
    height: 12px;
    background-color: rgba(245, 197, 6, 0.3);
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    margin-right: 31px;
}

.slider__video__player-controls__playback::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 179px;
    height: 12px;
    background-color: #f5c506;
}

.slider__video__player-controls__playback:focus {
    outline: none;
}

.slider__video__player-controls__volume {
    width: 15px;
    height: 15px;
    background-image: url('../../images/svg-icons/volume.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    outline: none;
    z-index: 99;
}

.slider__video__player-controls__volume:hover {
    transform: scale(1.1);
}

.slider__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: "Asap Regular", sans-serif;
    font-size: 63px;
    color: #ffffff;
}

.slider__title__top {
    color: #f5c506;
}