.intro {
    position: relative;
    display: block;
    background: url('../../images/bg/intro.png') center center / cover no-repeat;
    padding-top: 30px;
    box-shadow: inset 0px -17px 14px -22px #000000;
}

.slider {
    padding-bottom: 70px;
}

.slider__arrow-left,
.slider__arrow-right {
    position: absolute;
    top: 50%;
    display: inline-flex;
    padding: 19px 8px;
    background-color: #F5C506;
    outline: none;
    transition: 0.3s;
}

.slider__arrow-left {
    left: 0; 
}

.slider__arrow-right {
    right: 0;
    transform: rotate(180deg);
}

.slider__arrow-left:hover,
.slider__arrow-right:hover {
    background-color: #e0b004;
    transition: 0.3s;
}

.slider__row {
    display: flex;
}

.slider__video-container,
.slider__title {
    flex: 1;
}

.slider__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-family: "Asap Regular", sans-serif;
    font-size: 63px;
    color: #ffffff;
}

.slider__title__top {
    color: #f5c506;
}