.intro {
    position: relative;
    display: block;
    background: url('../../images/bg/intro.png') center center / cover no-repeat;
    padding-top: 30px;
}

.slider__arrow-left,
.slider__arrow-right {
    position: absolute;
    top: 50%;
    display: inline-flex;
    padding: 19px 8px;
    background-color: #caa204;
    outline: none;
}

.slider__arrow-left {
    left: 0; 
}

.slider__arrow-right {
    right: 0;
    transform: rotate(180deg);
}

.slider__row {
    display: flex;
    align-items: center;
}

.slider__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 63px;
    color: #ffffff;
}

.slider__title__top {
    color: #f5c506;
}