.offer {
    position: relative;
    background-image: url('../../images/bg/offer.png');
}

.offer__list {
    display: flex;
}

.offer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding: 40px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.offer__item:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.offer__item__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer__item__picture {
    margin-bottom: 12px;
}

.offer__item__name {
    font-family: "Segoe UI Light", sans-serif;
    font-size: 27px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .offer__item {
        border-right: initial;
        padding: 12px 0 30px;
    }

    .offer__item__picture__img--better {
        width: 89px;
        height: 61px;
    }

    .offer__item__picture__img--customise {
        width: 67px;
        height: 69px;
    }

    .offer__item__picture__img--itsfree {
        width: 68px;
        height: 69px;
    }

    .offer__item__name {
        font-size: 23px;
    }
}