.offer__list {
    display: flex;
}

.offer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    padding: 40px 0;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.offer__item:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.offer__item__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer__item__picture {
    margin-bottom: 12px;
}

.offer__item__name {
    text-transform: uppercase;
}