html {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

button {
    border-color: transparent;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border-color: transparent;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}

.main-content {
    flex: 1;
}

.container {
    max-width: 1020px;
    height: 100%;
    margin: 0 auto;
}