@font-face {
    font-family: "Lucida Sans Italic";
    src: url("../../fonts/woff/lucida-sans/lucida-sans-italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Segoe WP";
    src: url("../../fonts/woff/segoe-wp/segoe-wp.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Segoe WP Light";
    src: url("../../fonts/woff/segoe-wp/segoe-wp-light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Asap Regular";
    src: url("../../fonts/woff/asap-regular/asap-regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Segoe UI Light";
    src: url("../../fonts/woff/asap-regular/asap-regular.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Segoe UI Regular";
    src: url("../../fonts/woff/asap-regular/asap-regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Segoe UI Bold";
    src: url("../../fonts/woff/asap-regular/asap-regular.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "PT Sanse Regular";
    src: url("../../fonts/woff/pt-sans/pt-sans-regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PT Sanse Norrow Bold";
    src: url("../../fonts/woff/pt-sans-norrow/pt-sans-norrow-bold.woff") format("woff");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Arial MT Regular";
    src: url("../../fonts/woff/pt-sans-norrow/pt-sans-norrow-bold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../../fonts/woff/open-sans/open-sans-regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}